@{
    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Administrador"))
        {
            Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "Contacto";
}

<main class="container my-5">
    <h2><i class="fa fa-envelope"></i> @ViewBag.Title</h2>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.242797279189!2d-0.49137948421477157!3d38.34336207965996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd62364cee9cf1e7%3A0xd814b073bda7df9c!2sAv.+Maisonnave%2C+1%2C+03003+Alicante!5e0!3m2!1ses!2ses!4v1549964198039" frameborder="0" class="border-0 shadow h-100 w-100" allowfullscreen></iframe>
        </div>
        <div class="col-12 mt-4 col-md-6 mt-md-0">
            <address>
                <b>Camera.Shop</b><br />
                Av. Maisonnave 1,<br />
                03003 Alicante,<br />
                España
            </address>
            <hr />
            <address>
                <p class="font-weight-bold mb-0"><i class="fa fa-envelope"></i> Atención al cliente:</p>
                <p><a href="mailto:info@camera.shop">info@camera.shop</a></p>
                <p class="font-weight-bold mb-0"><i class="fa fa-envelope"></i> Soporte técnico:</p>
                <p><a href="mailto:soporte@camera.shop">soporte@camera.shop</a></p>
            </address>
        </div>
    </div>
</main>
