@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cuenta bloqueada";
}

<main class="container">
    <h1 class="text-danger"><i class="fa fa-minus-circle"></i> Cuenta bloqueada</h1>
    <h2 class="text-danger">Esta cuenta se ha bloqueado, inténtelo de nuevo más tarde.</h2>
</main>
